<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxelcraft.android.client"
    android:versionCode="1380"
    android:versionName="1.0">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
  <uses-sdk
      android:minSdkVersion="19"
      android:targetSdkVersion="36"/>

  <application
      android:icon="@mipmap/ccicon"
      android:label="@string/app_name"
      android:hardwareAccelerated="true"
      android:resizeableActivity="false">
    <provider
        android:name="com.voxelcraft.CCFileProvider"
        android:authorities="com.voxelcraft.android.client.provider"
        android:exported="false"
        android:grantUriPermissions="true"/>

    <activity
        android:name="com.voxelcraft.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="fullSensor"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|density"
        android:exported="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
